.container {
  overflow: auto;
  flex: 1;
  border: 1px solid var(--mantine-color-default-border);
}

.table {
  flex: 1;
}

.loading_container {
  margin: auto;
}

.td {
  text-overflow: ellipsis;

  /* Needed to make it work */
  overflow: hidden;
  white-space: nowrap;

  width: fit-content;

  @mixin larger-than $mantine-breakpoint-md {
    max-width: calc((100dvw - var(--app-shell-navbar-offset) - 32px) / 7);
  }
}

.running {
  color: var(--mantine-color-blue-3);
}

.errored {
  color: var(--mantine-color-red-3);
}

.queued {
  color: var(--mantine-color-orange-3);
}

.completed {
  color: var(--mantine-color-green-3);
}