.container {
  display: grid;
  background: var(--mantine-color-gray-0);
  grid-template-columns: 1fr;
  height: fit-content;
  padding: var(--mantine-spacing-md);

  @mixin larger-than $mantine-breakpoint-lg {
    grid-template-columns: repeat(6, 1fr);
  }
}

.info_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-sm);
}

.info_value {
  font-size: calc(var(--mantine-font-size-xl) * 2);
  font-weight: bold;
}

.info_title {
  text-transform: uppercase;
}

.active {
  color: var(--mantine-color-blue-3);
}

.failed {
  color: var(--mantine-color-red-3);
}

.paused {
  color: var(--mantine-color-gray-6);
}

.delayed {
  color: var(--mantine-color-violet-3);
}

.waiting {
  color: var(--mantine-color-orange-3);
}

.completed {
  color: var(--mantine-color-green-3);
}