.container {
  overflow-x: auto;
}

.td {
  text-overflow: ellipsis;

  /* Needed to make it work */
  overflow: hidden;
  white-space: nowrap;

  width: fit-content;

  @mixin larger-than $mantine-breakpoint-md {
    max-width: calc((100dvw - var(--app-shell-navbar-offset) - 32px) / 7);
  }
}

.actions_container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--mantine-spacing-xs);
}